.linebox {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 20px;
    gap: 1px;
    border: 1px black solid;

    overflow-y: auto;
    max-height: 70vh;
}

.linebox_header {
    background-color: var(--background); /* So the body doesn't show through when the header is scrolled */
    font-weight: bold;
    position: sticky; /* Fixes the header at the top when scrolled */
    top: 0;
    z-index: 1000000;
}

.linebox > div {
    padding: 10px;
    outline: 1px black solid;
}

.linebox > .linebox_cell-no-padding {
    padding: 0px;
}

.linebox_checkboxContainer {
    text-align: center;
}

.linebox_checkbox {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.linebox-wide {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--pink);
    color: white;
}

.linebox_summary {
    position: sticky;
    bottom: 0px;
}

.linebox_loadButton {
    font-size: 1em;
    cursor: pointer;
    background-color: var(--accent);
    border: none;
}

.linebox_loadButton:hover {
    background-color: hsl(96, 50%, 68%);
    color: var(--text);
}